dso-l2/src/main/resources/restartable-platform-persistence.xsd

<xs:schema
        xmlns:restartable-platform-persistence="http://www.terracotta.org/config/restartable-platform-persistence"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        version="1.0" targetNamespace="http://www.terracotta.org/config/restartable-platform-persistence" elementFormDefault="qualified">
    <xs:element name="restartable-platform-persistence">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="path" type="xs:string" />
                <xs:element name="should-block-on-lock" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
